@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
body{
    background-image: linear-gradient(rgb(0, 0, 0), #4b4747);
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
.container {
    background-image: linear-gradient(to right, #27161688,#353030d2 30%),
    url(../media/picture_css.webp);
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 850px;
    border-radius: 15px;
}
header{
    display: flex;
    justify-content:space-between;
    padding: 20px;
}
.container:hover{
    background-image: linear-gradient(to right, #25151588, transparent),
    url(../media/picture_css.webp);
}
.logo{
    text-decoration: none;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
}
ul{
    width: 50%;
    display: flex;
    justify-content:space-evenly;
    padding: 10px;
    list-style-type: none;
    
}
ul li a{
    font-size: 24px;
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 2px;
    border-bottom: 2px solid transparent;
    transition: 1s;
}
ul li a:hover{
    color: rgb(180, 61, 61);
    font-size: 30px;
    font-weight: 900;
    border-bottom: 2px solid white;
}
.contain{
    width: 50%;
    height: 400px;
    margin: 50px;
    padding: 30px;
}
h2{
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 4px;
    text-transform: uppercase;
}
p{
    width: 50%;
    font-size: 24px;
    line-height: 50px;
    padding: 10px;
    letter-spacing: 2px;
}
button{
    padding: 10px;
    margin: 25px;
    width: 160px;
    height: 100px;
    border-radius: 25px;
    border: 2px solid transparent;
    cursor: pointer;
}
button a{
    color: black;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
}

button:hover{
    background-color: transparent;
    width: 200px;
    height: 130px;
    border-color: white;
    

}
button a:hover{
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 4px;
    width: 200px;
    height: 130px;
    color: white;
}